.u-section-1 {
  margin-right: 0;
  margin-left: 0;
  width: 1300px;
  background-image: none;
  min-height: 700px;
}

.u-section-1 .u-gallery-1 {
  height: 700px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 138px;
  background-image: none;
  margin: -548px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 30px auto 0 954px;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 662px;
  margin: -39px auto 0;
}

.u-section-1 .u-group-2 {
  width: 1140px;
  min-height: 250px;
  margin: 30px auto 123px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 148px;
  width: 1100px;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 944px;
    margin-left: calc(((100% - 940px) / 2) + -131px);
  }

  .u-section-1 .u-btn-1 {
    width: 52px;
    margin-top: 0;
    margin-left: 809px;
  }

  .u-section-1 .u-text-1 {
    width: 493px;
    margin-top: -9px;
  }

  .u-section-1 .u-group-2 {
    width: 975px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 940px) / 2) + -162px);
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 252px;
    margin-left: calc(((100% - 720px) / 2) + -239px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-right: 51px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: 136px;
    margin-left: 91px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 720px) / 2) + 481px);
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: -20px;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 377px;
    margin-left: calc(((100% - 540px) / 2) + -329px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: 420px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 540px) / 2) + 239px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 21px;
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + -39px);
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 322px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 68px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 340px) / 2) + -39px);
  }

  .u-section-1 .u-custom-html-1 {
    width: 341px;
    margin-left: auto;
    margin-right: auto;
  }
}.width{
	width: 100%
}