.u-section-1 .u-sheet-1 {
  min-height: 78px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px auto 0 242px;
  padding: 6px 10px 7px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: -38px 0 0;
  padding: 0 15px 0 13px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -38px auto 20px 72px;
  padding: 6px 10px 7px 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 72px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-3 {
    margin-right: 20px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 200px;
}

.u-section-2 .u-text-1 {
  width: 561px;
  margin: 50px auto;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 3252px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  padding: 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

.u-section-3 .u-btn-4 {
  padding: 0;
}

.u-section-3 .u-btn-5 {
  padding: 0;
}

.u-section-3 .u-btn-6 {
  padding: 0;
}

.u-section-3 .u-btn-7 {
  padding: 0;
}

.u-section-3 .u-btn-8 {
  padding: 0;
}

.u-section-3 .u-btn-9 {
  padding: 0;
}

.u-section-3 .u-btn-10 {
  padding: 0;
}

.u-section-3 .u-btn-11 {
  padding: 0;
}

.u-section-3 .u-btn-12 {
  padding: 0;
}

.u-section-3 .u-btn-13 {
  padding: 0;
}

.u-section-3 .u-btn-14 {
  padding: 0;
}

.u-section-3 .u-btn-15 {
  padding: 0;
}

.u-section-3 .u-btn-16 {
  padding: 0;
}

.u-section-3 .u-btn-17 {
  padding: 0;
}

.u-section-3 .u-btn-18 {
  padding: 0;
}

.u-section-3 .u-btn-19 {
  padding: 0;
}

.u-section-3 .u-btn-20 {
  padding: 0;
}

.u-section-3 .u-btn-21 {
  padding: 0;
}

.u-section-3 .u-btn-22 {
  padding: 0;
}

.u-section-3 .u-btn-23 {
  padding: 0;
}

.u-section-3 .u-btn-24 {
  padding: 0;
}

.u-section-3 .u-btn-25 {
  padding: 0;
}

.u-section-3 .u-btn-26 {
  padding: 0;
}

.u-section-3 .u-btn-27 {
  padding: 0;
}

.u-section-3 .u-btn-28 {
  padding: 0;
}

.u-section-3 .u-btn-29 {
  padding: 0;
}

.u-section-3 .u-btn-30 {
  padding: 0;
}

.u-section-3 .u-btn-31 {
  padding: 0;
}

.u-section-3 .u-btn-32 {
  padding: 0;
}

.u-section-3 .u-btn-33 {
  padding: 0;
}

.u-section-3 .u-btn-34 {
  padding: 0;
}